*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Sans Serif';
    font-size: clamp(2rem, 4rem + 8vw, 8.5rem);    

    Font-style: Medium;
}
:root{
    font-size: 62.5%;
}

.container{
    display: grid;
    height: 100vh;
}

.main{
    gap: clamp(0.5rem, 9rem + 10vw, 23rem);
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    width: clamp(20rem, 70rem + 90vw, 80rem);
}

/*PAINEL DE CONTROLE MINUTOS E BUTTONS*/

.set-up{
    margin-top: 1rem;
    color:hsla(240, 6%, 21%, 1);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
}
   
.buttonSet,
 .play,
 .stop,
 .plus,
 .minus,
 .pause{
    background: none;
    border: none;
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}

.hide{
    display: none;
}

.buttonSet img{
    width: clamp(3rem, 3rem + 4vw, 5rem);    
    transition: scale .3s;
    margin-top: 1.5rem;
}

.buttonSet img:hover{
 scale: 1.2;
 cursor: pointer;
}

/*PAINEL DOS CARDS*/

.cards {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.0rem;
}
.cards button{
    border: none;
}


.florest,
.rain,
.coffee-shop,
.fire{
    border: none;
    background: hsla(240, 9%, 89%, 1);
    border-radius: 2.4rem;
    width: clamp(4rem, 7rem + 12vw, 11rem);
    height: clamp(6rem, 7rem + 12vh ,12.8rem);


    position: relative;
    transition: .5s all cubic-bezier(0, 0.56, 1, 0.59);
} 

.cards button:hover{
    cursor: pointer;
    background: rgb(163,48,252);
}

 .pressed{
 background: linear-gradient(135deg, rgba(163,48,252,1) 17%, rgba(118,69,252,1) 40%, rgba(127,123,252,1) 67%, rgba(120,196,252,1) 89%);

}

/*   RESPONSIVE MAX-550    */

@media (max-width: 550px){
    .main{
        gap: clamp(0.1rem, 2rem + 10vw, 23rem);
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: center;
        width: clamp(5rem, 250rem + 300vw, 3rem);
    }

       
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.0rem;
    }
  
   
}
    